---
import Loginn from '../components/loginComponente.jsx';
import '../styles/global.css';
---

<html lang="es" class="bg-gray-100">
<head>
    <title>Admin Panel</title>
</head>
<body class="min-h-screen flex flex-col items-center justify-center p-8">

<h1 class="text-4xl font-extrabold mb-6 text-blue-700 drop-shadow-lg">
    Bienvenido <span class="text-indigo-600">Diego</span> al panel de administrador de Pequevivo
</h1>

<Loginn client:load />

</body>
</html>
